/*
/* Components 
*/

/* Message */
.cpnt_message {
    position: fixed;
    left: 50%;
    top: 10px;
    transform: translateX(-50%);
    background: #a30000;
    color: #fff;
    padding: 5px;
    z-index: 100000;
}
.cpnt_message.success {
    background: #49854f;
}
.cpnt_message.fade {
    opacity: 0;
    transition: 0.5s;
}

/* Notice */
.cpnt_notice {
    background: #fbf2d4;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}
.cpnt_notice strong {
    display: block;
    font-size: 1.4em;
    margin-bottom: 20px;
}

/* Select notice */
.cpnt_notice.select {
}
.cpnt_notice.select {
}

/* Loading */
.cpnt_loading {
    background: url('../img/loading.svg') no-repeat left center;
    background-size: 20px;
    padding-left: 25px;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
}

/* Upload */
.cpnt_upload .dropzone {
    height: 100%;
}
form.dropzone {
    border: 3px dashed #0678f4;
}

/* Import */
.cpnt_import .content > * {
    margin-bottom: 10px;
}
.cpnt_import .content form.dropzone.csv {
    margin-bottom: 30px;
}
.cpnt_import footer {
    text-align: right;
}

/* Db buttons */
.cpnt_db_buttons .dropdown.import button {
    border: 0;
    font-size: 1em;
    padding-left: 0;
}
.cpnt_db_buttons .dropdown.import .dropdown-menu {
    top: 30px;
}

/* Path */
.cpnt_path {
}
.cpnt_path h1 .folder {
    background: url('../img/folder.svg') no-repeat left center;
    background-size: 15px;
    padding-left: 20px;
}
.cpnt_path h1 .search {
    background: url('../img/search.svg') no-repeat 0 center;
    background-size: 15px;
    padding-left: 20px;
}

/* Quick search */
.cpnt_quick_search {
    position: relative;
}
.cpnt_quick_search form input[name=search] {
    background: url('../img/search.svg') no-repeat 8px 10px;
    background-size: 15px;
    padding-left: 30px;
    width: 100%;
    max-width: 300px;
}
.cpnt_quick_search.active form input[name=search] {
}
.cpnt_quick_search form .clear {
    display: none;
}
.cpnt_quick_search.active form .clear {
    position: absolute;
    display: block;
    right: 10px;
    top: 10px;
    width: 15px;
    height: 15px;
    background: url('../img/close_grey.svg') no-repeat;
    background-size: 100%;
    font-size: 0;
}

/* Results tools (Display, sorting etc) */
.cpnt_results_tools {
    display: flex;
    column-gap: 10px;
    line-height: 40px;
    white-space: nowrap;
}

/* pagination */
.cpnt_pagination {
}
.cpnt_pagination li {
    display: inline-block;
}
.cpnt_pagination li.active {
    text-decoration: underline !important;
}

/* Form pagination */
.cpnt_view_pagination {
}
.cpnt_view_pagination a.prev {
    padding-left: var(--default-spacing);
    padding-right: 15px;
    background: url('../img/prev.svg') no-repeat left center;
    background-size: 15px;
}
.cpnt_view_pagination a.next {
    padding-left: 15px;
    padding-right: var(--default-spacing);
    background: url('../img/next.svg') no-repeat right center;
    background-size: 15px;
}

/* Popup */
.cpnt.popup {
    display: none;
    z-index: 10000;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.7);
}
.cpnt.popup.active {
    display: block;
}
.cpnt.popup > .wrapper {
    width: 80%;
    height: 80vh;
    background: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 3px 3px 3px var(--grey3);
}
.cpnt.popup > .wrapper > header .close {
    position: absolute;
    z-index: 10001;
    right: 0;
    top: 0;
    width: 20px;
    height: 20px;
    background: url('../img/close_black.svg') no-repeat;
    background-size: 100%;
    cursor: pointer;
}
.cpnt.popup > .wrapper > header {
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
}
.cpnt.popup > .wrapper > .content {
    position: absolute;
    top: 60px;
    left: 20px;
    bottom: 75px;
    right: 20px;
    overflow-y: auto;
}
.cpnt.popup > .wrapper > footer {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
}
.cpnt.popup > .wrapper form fieldset {
}

/* New folder */
.cpnt.popup.cpnt_new_folder > .wrapper {
    height: 175px;
}
.cpnt.popup.cpnt_new_folder > .wrapper form {
    position: static;
}
.cpnt.popup.cpnt_new_folder > .wrapper label {
    font-family: 'Proxima Bold';
    margin-bottom: 10px;
}
.cpnt.popup.cpnt_new_folder > .wrapper form input[type=text] {
    width: calc(100% - 30px);
}

/* Add links */
.cpnt_add_link .dropdown .dropdown-menu {
    width: 320px;
}
.cpnt_add_link .dropdown .dropdown-menu li {
    box-sizing: border-box;
    padding: 8px 15px 8px 8px;
    display: flex;
}
.cpnt_add_link .dropdown .dropdown-menu li .name {
    flex-grow: 2;
}
.cpnt_add_link .dropdown .dropdown-menu li .name a {
    display: block;
}
.cpnt_add_link .dropdown .dropdown-menu li .button {
    display: none;
    margin-left: 15px;
    box-sizing: border-box;
}
.cpnt_add_link .dropdown .dropdown-menu li:hover {
    background: var(--grey6);
}
.cpnt_add_link .dropdown .dropdown-menu li:hover .button {
    display: block;
}

/* Links */
.cpnt_links .linked_entity {
    padding: 0 0 30px 0;
    position: relative;
}
.cpnt_links .linked_entity .grid .user,
.cpnt_links .linked_entity .grid .text_preview {
    display: none;
}
.cpnt_links .linked_entity .title {
    font-size: 1.5em !important;
    letter-spacing: 0.5px;
    padding-bottom: 15px;
}
.cpnt_links .linked_entity .dropdown.action {
    text-align: left;
    margin-right: 10px;
}
.cpnt_links .linked_entity .dropdown .dropdown-menu {
    right: 5px;
    left: auto;
}
.cpnt_links .linked_entity .buttons {
    position: absolute;
    right: 0;
    top: -8px;
    text-align: right;
    line-height: 40px;
}
.cpnt_links .linked_entity .buttons > a {
    display: inline-block;
    margin-right: 10px;
    width: 20px;
    height: 20px;
    overflow: hidden;
    vertical-align: middle;
    padding: 0;
    font-size: 0;
    background-size: 100%;
    opacity: 0.3;
}
.cpnt_links .linked_entity .buttons > a.link {
    width: 20px;
    background: url('../img/link.svg') no-repeat center center;
    background-size: 100%;
}
.cpnt_links .linked_entity .buttons > a.new {
    width: 16px;
}
.cpnt_links .linked_entity .buttons > a:hover {
    opacity: 1;
}