/*
/* Vars
*/
:root {
    --default-font-size: 0.9em;
    --title1-font-size: 1.4em;
    --title2-font-size: 1.8em;
    
    --default-spacing: 20px;
    --negative-default-spacing: 20px;
    --alt-spacing: 10px;
    --big-spacing: 60px;
    --negative-alt-spacing: -10px;
    --column-width: 33.33%;
    
    --grey1: #333;
    --grey2: #444;
    --grey3: #ccc;
    --grey4: #ddd;
    --grey5: #eee;
    --grey6: #f2f2f2;

    --red: #4ce0d7;
    --red2: #a30000;
    --blue: #3849e8;
}
@media only screen and (min-width: 768px) {
    :root {
    }
}
@media only screen and (min-width: 1024px) {
    :root {
    }
}
@media only screen and (min-width: 1280px) {
    :root {
    }
}


/* Fonts */
select,
option,
input,
textarea,
button,
body {
    font-family: 'Proxima Regular';
	color: var(--grey1);
	font-size: var(--default-font-size);
	line-height: normal;
}
a {
    color: var(--grey1);
}
a:hover {
    color: var(--blue);
    text-decoration: none;
}
h1, h2 {
    font-family: 'Proxima Bold';
    letter-spacing: 0.5px;
    font-weight: 100;
}
strong {
    font-family: 'Proxima Bold';
    font-weight: 100;
}


/* Form objects */
input[type=text],
input[type=password],
input[type=email],
input[type=date],
input[type=number],
textarea {
    border: 1px solid var(--grey3);
    box-sizing: border-box;
    width: 100%;
    padding: var(--alt-spacing);
}
textarea {
    resize: none;
}
label {
    padding: 5px 0;
}
