/* Layout */
#select > * {
    margin-bottom: var(--default-spacing);
}
#select .tools {
    display: flex;
}
#select .tools .cpnt_quick_search {
    flex-grow: 2;
}
#select #form_results > * {
    margin-bottom: var(--default-spacing);
}