/* Layout */
#explorer > * {
    margin-bottom: var(--default-spacing);
}
#explorer .tools {
    display: flex;
}
#explorer .tools .cpnt_action {
    flex-grow: 2;
}

/* Folder edit */
.explorer .item .edit {
    font-size: 0;
    width: 12px;
    height: 12px;
    margin-left: 4px;
    background: url('../img/pen.svg') no-repeat;
    background-size: 100%;
    display: none;
}
.explorer .item:hover .edit {
    display: inline-block;
}







/* List mode */
.explorer.list .grid .header {
    background-color: #f8f8f8;
}
.explorer.list .item {
    border-bottom: 1px solid #eee;
    overflow: hidden;
}
.explorer.list .placeholder {
    float: none;
    height: 34px !important;
}
.explorer.list .item .col {
    float: left;
    line-height: 1.2em;
    padding: 0.4em 0;
}

.explorer.list .item .col.name {
    width: 50%;
    white-space: nowrap;
    box-sizing: border-box;
    padding-left: 0.8em;
    overflow: hidden;
}
.explorer.list .item .col.name:hover {
}
.explorer.list .item .col.name a.name {
}
.explorer.list .item .col.name .text_preview {
    padding-left: 1em;
    color: #999;
}
.explorer.list .item .col.extra {
    float: right;
    width: 10%;
    text-align: center;
}
.explorer.list .item .col .thumbnail img {
    max-width: 20px;
    max-height: 20px;
}
.explorer.list .item .col.name a.name.icon.doc {
    background: url('../img/doc.svg') no-repeat left center;
    background-size: 0.8em;
    padding-left: 1.2em;
}
.explorer.list .item .col.name a.name.icon.folder {
    background: url('../img/folder.svg') no-repeat left center;
    background-size: 1em;
    padding-left: 1.5em;
}

/* Selecting */
.explorer.list .item.selecting .text_preview,
.explorer.list .item.selecting:hover .text_preview,
.explorer.list .item.selected .text_preview,
.explorer.list .item.selected:hover .text_preview {
    color: #999;
    opacity: 0.5;
}
.explorer.list .item.selecting,
.explorer.list .item.selecting:hover,
.explorer.list .item.selected,
.explorer.list .item.selected:hover {
    background-color: #0074e8;
    color: #fff;
}
.explorer.list .item:hover {
    background-color: #f8f9fa;
}
.explorer.list .item.selecting a,
.explorer.list .item.selected a {
    color: #fff;
}
.explorer.list .item.selected .col.name a.name.icon.doc,
.explorer.list .item.selecting .col.name a.name.icon.doc {
}
.explorer.list .item.hidden {
    display: none;
}

/* Thumbnails */
.explorer.thumbnails .item {
    width: 230px;
    box-sizing: border-box;
    float: left;
    margin-bottom: 20px;
    margin-right: 20px;
}
.explorer.thumbnails .placeholder {
    float: left;
    background: #f2f7fc;
    width: 230px !important;
    height: 300px !important;
    margin-right: 20px;
    margin-bottom: 20px;
}
.explorer.thumbnails .item > .wrapper {
    border: 1px solid #ccc;
    height: 300px;
    
    padding: 15px;
    box-sizing: border-box;
    position: relative;
    background: #fff;
}
.explorer.thumbnails .item.selecting > .wrapper .details,
.explorer.thumbnails .item.selecting:hover > .wrapper .details,
.explorer.thumbnails .item.selected > .wrapper .details,
.explorer.thumbnails .item.selected:hover > .wrapper .details,
.explorer.thumbnails .item.selecting > .wrapper a,
.explorer.thumbnails .item.selected > .wrapper a {
    background: #3849e8;
    color: #fff;
}
.explorer.thumbnails .item.selecting > .wrapper,
.explorer.thumbnails .item.selected > .wrapper {
    border: 1px solid #3849e8;
}
.explorer.thumbnails .item > .wrapper .thumbnail {
    height: 200px;
    margin-bottom: 15px;
}
.explorer.thumbnails .item.doc > .wrapper .thumbnail.icon {
    background: url('../img/doc.svg') no-repeat center center;
    background-size: 30%;
    opacity: 0.2;
}
.explorer.thumbnails .item.folder > .wrapper .thumbnail.icon {
    background: url('../img/folder.svg') no-repeat center center;
    background-size: 30%;
    opacity: 0.2;
}
.explorer.thumbnails .item > .wrapper .thumbnail img {
    max-width: 100%;
    max-height: 200px;
    display: block;
    margin: auto;
}
.explorer.thumbnails .item > .wrapper .details .name {
    width: 90%;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
}
.explorer.thumbnails .item > .wrapper .details {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 65px;
    background: #fbfbfb;
    padding: 5px;
}


/* Details */
.explorer.details .item {
    width: 50%;
    box-sizing: border-box;
    float: left;
    margin-bottom: 20px;
}
.explorer.details .placeholder {
    float: left;
    background: #f2f7fc;
    box-sizing: border-box;
    width: calc(50% - 20px) !important;
    height: 300px !important;
    margin-bottom: 20px;
    margin-right: 20px;
}
.explorer.details .item > .wrapper {
    border: 1px solid #ccc;
    height: 300px;
    padding: 15px;
    box-sizing: border-box;
    position: relative;
    background: #fff;
    margin-right: 20px;
}
.explorer.details .item.selecting > .wrapper .details,
.explorer.details .item.selecting:hover > .wrapper .details,
.explorer.details .item.selected > .wrapper .details,
.explorer.details .item.selected:hover > .wrapper .details,
.explorer.details .item.selecting > .wrapper a,
.explorer.details .item.selected > .wrapper a {
    background: #3849e8;
    color: #fff;
}
.explorer.details .item.selecting > .wrapper,
.explorer.details .item.selected > .wrapper {
    border: 1px solid #3849e8;
}
.explorer.details .item > .wrapper .thumbnail {
    height: 200px;
    margin-bottom: 15px;
    float: left;
    width: 50%;
}
.explorer.details .item.doc > .wrapper .thumbnail.icon {
    background: url('../img/doc.svg') no-repeat center center;
    background-size: 30%;
    opacity: 0.2;
}
.explorer.details .item.folder > .wrapper .thumbnail.icon {
    background: url('../img/folder.svg') no-repeat center center;
    background-size: 30%;
    opacity: 0.2;
}
.explorer.details .item > .wrapper .thumbnail img {
    max-width: calc(100% - 15px);
    max-height: 200px;
}
.explorer.details .item > .wrapper .details {
    position: absolute;
    top: 0;
    right: 0;
    left: 50%;
    bottom: 0;
    background: #fbfbfb;
    padding: 15px;
    box-sizing: border-box;
}
.explorer.details .item > .wrapper .details .text_preview {
    display: block;
    margin-top: 15px;
}
.explorer.details .item > .wrapper .details .name {
    font-weight: bold;
    width: 90%;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
}