/* File */
.field.type_file {
    
}
.field.type_file .body {
    display: flex;
    column-gap: 15px;
    background: #f8f8f8;
    padding: 15px;
    border-radius: 5px;
}
.field.type_file .body .thumbnail {
}
.field.type_file .body .thumbnail img {
    max-height: 100px;
    max-width: 100px;
    display: block;
}
.field.type_file .infos {
    line-height: 1.4em;
    margin-bottom: 5px;
}


/* Date */
.field.type_date label {
    display: inline;
}


/* Repeated */
.repeatedType .form-group {
    display: none;
}