/* File */
.form_type_file {
    
}
.form_type_file .form_field_body {
    display: flex;
    column-gap: 15px;
    background: #f8f8f8;
    padding: 15px;
    border-radius: 5px;
}
.form_type_file .form_field_body .form_field_thumbnail {
}
.form_type_file .form_field_body .form_field_thumbnail img {
    max-height: 100px;
    max-width: 100px;
    display: block;
}
.form_type_file .form_field_body .form_field_infos {
    line-height: 1.4em;
    margin-bottom: 5px;
}


/* Date */
.form_type_date label {
    display: inline;
}


/* Repeated */
.repeatedType .form-group {
    display: none;
}