<div class="cpnt cpnt_action">
    <div class="dropdown action">
        <button class="dropdown-toggle" type="button">
            Action
        </button>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="javascript:action('#explorer_results', 'conceal');">Masquer</a>
            <a class="dropdown-item" href="javascript:action('#explorer_results', 'publish');">Publier</a>
            <a class="dropdown-item" href="javascript:action('#explorer_results', 'delete');">Supprimer</a>
            <a class="dropdown-item" href="javascript:action('#explorer_results', 'duplicate');">Dupliquer</a>
        </div>
    </div>
</div>