                <div class="cpnt cpnt_children">
                    <h2 class="title">Dépendances</h2>
                    {% for field in row._children %}
                        
                       
                    {% endfor %}
                </div>