<div class="cpnt cpnt_dropzone popup">
    <div class="wrapper">
        <div class="close"></div>
    	<form action="{{ path('admin_page_action', {slug:'action', action:'upload', entity_name: page.arguments.entity_name}) }}" id="dropzoneForm" class="dropzone">
    		<div class="dz-message" data-dz-message><span>Cliquer ou déposer des fichiers</span></div>
    		<div class="fallback">
    	  		<input name="file" type="file" multiple />
    		</div>
    	</form>
    </div>
</div>