<div class="cpnt cpnt_new_folder popup">
    <div class="wrapper">
        <header>
            <h2>Nouveau dossier</h2>
            <div class="close"></div>
        </header>
        <div class="content">
            <form name="new_folder_form" action="{{ path('admin_page_action', {slug: 'action', action: 'newfolder', entity_name: model.name}) }}" method="post"> 
                <fieldset>
                    
                    <input type="text" value="" name="new_folder_name" required="required" placeholder="Nom" />
                </fieldset>
            </form>
        </div>
        <footer>
            <button type="button" class="btn cancel">Annuler</button> <button type="submit" class="btn">Créer</button>
        </footer>
    </div>
</div>