<div class="cpnt cpnt_quick_search{% if params.search %} active{% endif %}">
    <form method="get" action="{{ path('admin_page', {slug: page.slug}) }}">
        <input type="text" name="search" placeholder="Rechercher" value="{{ params.search }}" />
        <a class="clear" href="{{ path('admin_page', {slug: page.slug, search:'' }) }}">x</a>
    </form>
</div>