            <div class="buttons btn-group">
                <button type="submit" class="btn btn-primary">Sauvegarder</button> 
                <!--<button type="submit" class="btn btn-primary">Sauvegarder + Suivant</button> 
                <button type="submit" class="btn btn-primary">Sauvegarder + nouveau</button>
                
                <div class="dropdown action">
                  <button class="dropdown-toggle" type="button">
                    Action
                  </button>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Supprimer</a>
                    <a class="dropdown-item" href="#">Masquer</a>
                    <a class="dropdown-item" href="#">Publier</a>
                  </div>
                </div>-->
                
                
            </div>