<div class="field type_{{ field.vars.block_prefixes.1 }}">
    {% trans_default_domain 'admin' %}
    {% set template = "default" %}
    {% if field.vars.options.template is defined %}{% set template = field.vars.options.template %}{% endif %}
    {% set template = "admin/tpl/editor/form/types/" ~ template ~ ".html.twig" %}

    {% if field.vars.name != '_token' and field.vars.name != 'translations' %}
    <header>
        {% if field.vars.label %}
            {% set label = field.vars.label %}
        {% else %}
            {% set label = field.vars.name %}
        {% endif %}
        {% if field.vars.required %}{% set label = label ~ " *" %}{% endif %}
        {% if field.vars.label is defined %}<h3>{{ form_label(field, label) }}</h3>{% endif %}
        {% if field.vars.help is defined %}<div class="help"><em>{{ field.vars.help }}</em></div>{% endif %}
    </header>
    {% endif %}
    
    <div class="body">
    {% include template %}
    </div>
</div>