            <div class="dropdown action">
              <button class="dropdown-toggle" type="button">
                Action
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="javascript:action('#form_results', 'conceal');">Masquer</a>
                <a class="dropdown-item" href="javascript:action('#form_results', 'publish');">Publier</a>
                <a class="dropdown-item" href="javascript:action('#form_results', 'delete');">Supprimer</a>
                <a class="dropdown-item" href="javascript:action('#form_results', 'duplicate');">Dupliquer</a>
              </div>
            </div>